<!--Sample calculator app-->
<html ng-app = "mod">
<head>
	<script src="../angular.js"></script>
	<script src="test11.js"></script>
</head>
<body>
	<h1>My calculator</h1>
	
	<div ng-controller="calctrl"> <!--Using 'control as' is recommended-->
		<p>
			<input type=text ng-model="op1" />
			<button style="width:20px; height:20px;">{{operator}}</button>
			<input type=text ng-model="op2" />
			<button style="width:20px; height:20px;" ng-click="calculate()">=</button>
			<input type=text value= {{result}}> 
		</p>
		<p> Select an operator: </p>
		<p>
			<!--<button style="width:20px; height:20px;" ng-click="selectAdd()">+</button>
			<button style="width:20px; height:20px;" ng-click="selectSubtraction()">-</button>
			<button style="width:20px; height:20px;" ng-click="selectMultiplication()">*</button>
			<button style="width:20px; height:20px;" ng-click="selectDivision()">/</button>-->
			
			<button style="width:20px; height:20px;" ng-click="selectOperator('+')">+</button>
			<button style="width:20px; height:20px;" ng-click="selectOperator('-')">-</button>
			<button style="width:20px; height:20px;" ng-click="selectOperator('*')">*</button>
			<button style="width:20px; height:20px;" ng-click="selectOperator('/')">/</button>
			
		</p>
	</div>
	
</body>
</html>